# Ignorar variáveis de ambiente (Protege sua API Key)
.env

# Ignorar banco de dados local do SQLite
*.db
*.db-journal

# Ignorar arquivos temporários do Python e da sessão do LinkedIn
__pycache__/
linkedin_session/